@import url('https://fonts.googleapis.com/css2?family=Onest&family=Poppins:ital,wght@0,200;1,300&family=Raleway:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&family=Sometype+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: black;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.header{
    height: calc(100% - 100px);
    width: 100%;
    background-color: darkgray;   
    border-radius: 30px; 
}

.header h4{
    font-size: 20px;
    font-weight: 800;
    position: relative;
    padding-top: 15vw;
    padding-left: 2vw;

}

.header h1{
    font-size: 70px;
    font-weight: 800;
    position: relative;
    padding-top: 2vw;
    padding-left: 2vw;
    width: 50%;
}

.header button{
    font-size: 0.7vw;
    padding: 5px 6px;
    width: 13%;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    margin-top: 1vw;
    margin-bottom: 0.5w;
    margin-left: 6vw;
}

.header button span{
    font-size: 0.2vw;
}

.header button i{
    font-size: 1.5vw;
}

.stars{
    color: rgb(235, 161, 23);
    margin-left: 21vw;
    margin-top: -50px;
    font-size: large;
}

.header h5{
    margin-left: 21vw;
}

.beats{
    height: 45%;
    width: 100%;
    display: flex;
}

.beats h2{
    font-size: 2vw;
    font-weight: bolder;
    padding: 100px;
    width: 45%;
}

.beats h4{
    font-size: 1vw;
    padding: 100px 100px;
}

.fam{
    height: 60%;
}
.fam h1{
    font-size: 4vw;
    padding: 0 6vw;
}